* {
    padding: 0 0;
    margin: 0 0;
}

body{
    font-family: 'IM Fell Great Primer', "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color:#573a48;
    font-size:14px;
    background-image:url(../images/bg.jpg);
    background-repeat:repeat;
    position:relative;
}

h2 {
    font-family: 'Arbutus Slab', 'Rockwell', 'Courier New', serif;
    color:#ba533f;
    font-size:40px;
    margin:0 0 5px;
}

h3, p {
    font-family: 'IM Fell Great Primer', "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color:#573a48;
    font-size:20px;
    margin:5px 0 20px;
}

h4 {
	font-family: 'IM Fell Great Primer SC', "Palatino Linotype", "Book Antiqua", Palatino, serif;
    text-align: center;
    width: 100%;
    color:#ba533f;
    font-size: 16px;
}

header {
    text-align: center;
    height:119px;
    width:100%;
	background-image:url(../images/header_bg.png);
	background-repeat:repeat-x;
    position:fixed;
    top:0;
    z-index:2;
}
header form{
	padding:52px 0 0;
	float:right;
}
input{
	-webkit-appearance:none;
	width:100px;
	height:34px;
	background-color: #f3e4bc;
	border:none;
	border-radius:3px;
	margin:0 0 0 5px;
	color:#573a48;
	font-size:14px;
	padding:0 10px;
	font-family: 'IM Fell Great Primer', "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-weight:bold;
}
input[type=submit], button{
	font-family: 'IM Fell Great Primer SC', "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color:#fff;
    font-size:18px;
	background-color:#e16652;
	width:80px;
	border:0;
	border-bottom:solid 2px #ba533f;
	border-radius:3px;
	height:32px;
	-webkit-font-smoothing: antialiased;
}
input[type=submit]:hover, button:hover{
	background-color:#ba533f;
	cursor:pointer;
	border-bottom:solid 2px #9a431f;
}
#random-route{
	width: 145px;
	margin: 0 0 0 15px;
}
/*select{
	background-color:#f3e4bc;
	font-family: 'IM Fell Great Primer', "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color:#573a48;
	font-size:14px;
	padding:5px 15px;
	height:20px;
	border:0;
	border-radius:0;
	margin:0 5px;
	cursor:pointer;
}*/
::-webkit-input-placeholder{
	color:#573a48;
}
label input{
	width:200px;
	margin:0!important;
}
label input[type=number]{
	width:50px;
}
select {
	-webkit-appearance:none;
	background-color:#f3e4bc;
	background-image:url('../images/select.png');
	background-size:300px 34px;
	background-position:right;
	border-radius:5px;
	margin:0 0 0 5px;
	font-family: 'IM Fell Great Primer', "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color:#573a48;
	font-size:14px;
	padding:8px 7px 8px 10px;
	width:140px;
	height:34px;
	border:none;
}
select:disabled{
	opacity: .7;
	color: #a58f82;
}
.logo{
    background-image:url(../images/logo.png);
    background-repeat:no-repeat;
    background-position:top left;
    width:434px;
    height:30px;
    float:left;
    margin:10px 0 0;
    padding:60px 0 0;
    text-align:right;
    font-size:16px;
    font-family: 'IM Fell Great Primer SC', "Palatino Linotype", "Book Antiqua", Palatino, serif;

}
.clear{
    clear:both;
}
.wrapper{
    width:1000px;
    padding:0 50px;
    margin:0 auto;
}
.graph-wrapper {
    width: 900px;
    margin: 40px auto 20px;
    padding:50px;
    background-color:#fff;
    box-shadow:0 4px 16px #b7a790;
    position:relative;
}
.top{
    margin-top:120px;
}
.corner1{
    background-image:url(../images/corner1.png);
    position:absolute;
    top:-7px;
    left:-11px;
    width:64px;
    height:64px;
}
.corner2{
    background-image:url(../images/corner2.png);
    position:absolute;
    top:-7px;
    right:-11px;
    width:64px;
    height:64px;
}
.corner3{
    background-image:url(../images/corner3.png);
    position:absolute;
    bottom:-15px;
    left:-11px;
    width:64px;
    height:64px;
}
.corner4{
    background-image:url(../images/corner4.png);
    position:absolute;
    bottom:-15px;
    right:-11px;
    width:64px;
    height:64px;
}

#heat-map-canvas,
#routing-map-canvas {
    height: 500px;
    width: 900px;
    margin: 0;
    padding: 0;
}
.break_img{
	background-position:50% 0;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:100%;
	color: white;
	height: 500px;
	margin: 40px auto 20px;
	padding: 0;
	width:100%;
	min-width:1200px;
	box-shadow:inset 0 0 20px #573a48;
	position:relative;
}
#break_img1{
	background-image:url(../images/break_img1.jpg);
}
#break_img2{
	background-image:url(../images/break_img2b.jpg);
}
#break_img3{
	background-image:url(../images/break_img3b.jpg);
}
#break_img4{
	background-image:url(../images/break_img4b.jpg);
}
#break_img5{
	background-image:url(../images/break_img5.jpg);
}
.break_img p{
	position:absolute;
	top:250px;
	font-size:32px;
    font-family: 'IM Fell Great Primer SC', "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color:#fff;
	text-align:center;
	width:100%;
	text-shadow:0 0 5px #573a48, 0 0 10px #573a48 ;
}

.legend {
}
canvas{
	padding:0 0 10px;
}
.left{
    float:left;
	margin-left:75px;
	width:303px;
}

.right {
    float: right;
	margin-right:75px;
	width:303px;
}
.center{
	margin:0 auto;
	width:400px;
}
.center canvas{
	margin:0 50px;
}
#overageCanvas {
    margin: 0px auto;
}

#maleLegend{
    background-color: #a0c7c5;
    float: left;
    color: #fff;
    padding: 5px;
}
#customerLegend {
    background-color: #E9B055;
    float: left;
    color: #fff;
    padding: 5px;
}

#femaleLegend{
    background-color: #61A19F;
    float: right;
    color: #fff;
    padding: 5px;
}
#subscriberLegend {
    background-color: #D4791C;
    float: right;
    color: #fff;
    padding: 5px;
}

#underLegend {
    background-color: #E16652;
    float: left;
    color: #fff;
    padding: 5px;
}
#underPercent{
    background-color: #E16652;
}
#overLegend {
    background-color: #BA533f;
    float: right;
    color: #fff;
    padding: 5px;
}
#overPercent{
    background-color: #BA533f;
}
.percent-indicator{
    font-family: sans-serif;
    width: 50px;
    height: 50px;
    border-radius: 250px;
    color: #fff;
    line-height: 50px;
    text-align: center;
}
.left-percent{
    float: left;
    margin: -10px 0 20px 10px;
}
.right-percent{
    margin: -10px 10px 20px 0;
    float: right;
}
#customerPercent{
    line-height: 40px;
    width: 40px;
    height: 40px;
    background-color: #E9B055;
}
#malePercent{
    line-height: 40px;
    width: 40px;
    height: 40px;
    background-color: #a0c7c5;
}
#subscriberPercent{
    line-height: 40px;
    width: 40px;
    height: 40px;
    background-color: #D4791C;
}
#femalePercent{
    line-height: 40px;
    width: 40px;
    height: 40px;
    background-color: #61A19F;
}

#bad-browser{
    background-color: rgb(229, 227, 223);
    height: 100%;
    z-index: 100;
    margin: -10px auto 0;
    position: fixed;
    color: #ba533f;
    text-align: center;
    padding: 200px;
    font-size: 36px;
}
.small{
	font-size:11px;
	color:#a58f82;
}
.footer{
	font-size:11px;
	color:#a58f82;
	padding:20px 0 10px;
	text-align:center;
}
.footer a{
	color:#e16652;
}